<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FlowerTypeMapper">

    <insert id="insertFlowerType" parameterType="FlowerType">
        insert into flowertype(type_id,type_name,flower_id) value (#{typeId},#{typeName},#{flowerId})
    </insert>

    <resultMap id="flowerTypeMap" type="flowerType">
        <id column="type_id" property="typeId" />
        <result column="type_name" property="typeName" />
        <result column="flower_id" property="flowerId" />
        <!--   一对多-->
        <collection property="flower" ofType="flower">
            <id column="flower_id" property="flowerId" />
            <result column="flower_name" property="flowerName" />
            <result column="flower_price" property="flowerPrice" />
            <result column="flower_priced" property="flowerPriced" />
            <result column="flower_img" property="flowerImg" />
            <result column="flower_sales" property="flowerSales" />
            <result column="flower_specification" property="flowerSpecification" />
            <result column="flower_detail1" property="flowerDetail1" />
            <result column="flower_detail2" property="flowerDetail2" />
            <result column="flower_detail3" property="flowerDetail3" />
        </collection>
    </resultMap>

<!--  sql查询一对多   -->
    <select id="findFlowerTypeList" resultMap="flowerTypeMap">
        select t.type_id,t.type_name,t.flower_id ,f.flower_id,flower_name,
               flower_price,flower_priced,flower_img,flower_sales,flower_specification,
               flower_detail1,flower_detail2,flower_detail3 from (select type_id,type_name,flower_id from flowertype where type_name = #{name}) t left join flower f on t.flower_id = f.flower_id
    </select>
    <select id="findFlowerTypes" resultMap="flowerTypeMap">
        select t.type_id,t.type_name,t.flower_id ,f.flower_id,flower_name,
               flower_price,flower_priced,flower_img,flower_sales,flower_specification,
               flower_detail1,flower_detail2,flower_detail3 from (select type_id,type_name,flower_id from flowertype group by type_name) t left join flower f on t.flower_id = f.flower_id
    </select>


</mapper>